:root {
    --primary: #ffc918;
    --secondary: #fda036;
    --bg-dark: #302723;
    --card-bg: rgba(255, 255, 255, 0.05);
    --text-main: #fefefe;
    --text-lessopacityxd: #cecece;
    --success: #39e729;
    --pending: #ffe448;
    --danger: #ee4343;
    --dark: #101010;
    --darkest: #040404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: transparent;
    overflow: hidden;
}

.all {
    background: radial-gradient(circle at top left, #1d1c1b, #1a1918);
    color: var(--text-main);
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    background: transparent;
    background-color: #0000008e;
    filter: blur(0.23);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
}

.menu a:hover {
    color: #ffffff;
    font-weight: 800;
}


.mrbombastic {
    background: radial-gradient(circle at top left, #1d1c1b, #1a1918);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
}

.title {
    font-size: 28px;
    margin-bottom: 25px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.product-name {
    font-size: 16px;
    margin: 10px 0;
}

.price {
    color: #27ae60;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    background: #f7b500;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #d89d00;
}




footer {
    background-color: var(--darkest);
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    justify-content: space-between;
    color: var(--text-main);
    font-size: 1rem;
    font-weight: 300;
}

footer .somedia {
    display: flex;
    gap: 1rem;
}

footer .somedia a {
    text-decoration: none;
    color: var(--text-main);
}






/* Clases aca de utilidad pa no repetir weas */
.dan {
    color: var(--danger);
}

.sec {
    color: var(--primary);
    font-weight: 400;
}

.suc {
    color: var(--success);
    font-weight: 400;
}

.selectedf {
    background-color: var(--primary);
    color: var(--dark);
    font-weight: 400;
}